<app-header></app-header>

<main class="flex justify-content-center mx-auto py-4">
  <p-panel
    [header]="hero.name + ' (yours)'"
    class="w-4 flex flex-column justify-content-between"
    styleClass="mr-2 border-3 border-blue-100"
  >
    <div class="hero-card__image">
      <img
        src="{{ hero.image.url }}"
        width="214"
        height="285"
        alt="{{ hero.name }} photo"
      />
    </div>
    <div class="hero-card__stats flex-grow-1">
      <h4 class="ml-4">Powerstats:</h4>
      <ol>
        <li *ngFor="let powerupName of powerupNames">
          <span class="stat-name">{{ powerupName }} </span>
          <strong class="stat-value">{{ hero.powerstats[powerupName] }}</strong>
          <strong
            class="text-green-500"
            *ngIf="this.bonusPoints?.[powerupName]"
          >
            +{{ this.bonusPoints[powerupName] }}</strong
          >
        </li>
      </ol>
    </div>
    <button
      label="hero details"
      class="p-button-link ml-2"
      pButton
      [routerLink]="['/hero-info/' + hero.id]"
      icon="pi pi-link"
      iconPos="right"
    ></button>
  </p-panel>
  <p-card class="flex w-4 mr-2" styleClass="w-full text-center">
    <section class="battle-start mb-6">
      <h3 class="text-blue-600 text-center">{{ hero.name }}</h3>
      <button
        pButton
        type="button"
        label="Start Battle!"
        class="p-button-danger"
        (click)="fight()"
      ></button>
      <h3 class="text-pink-600 text-center">{{ enemy.name }}</h3>
    </section>

    <section class="battle-powerups text-left">
      <h4 class="text-center">Available powerups:</h4>
      <p-listbox
        showToggleAll="false"
        [options]="powerups"
        [(ngModel)]="selectedPowerups"
        optionLabel="name"
        [multiple]="true"
        [checkbox]="true"
        optionDisabled="inactive"
        [showToggleAll]="false"
        (onChange)="powerupListChange()"
      >
        <ng-template let-powerup pTemplate="powerup">
          <div
            class="powerup-name w-full"
            [pTooltip]="
              powerup.description.powername + ': ' + powerup.description.value
            "
          >
            {{ powerup.name }}
            <span class="powerup-amount font-bold">
              ({{ powerup.usesCount }})</span
            >
          </div>
        </ng-template>
      </p-listbox>
    </section>
  </p-card>
  <p-panel
    [header]="enemy.name + ' (enemy)'"
    class="w-4 flex flex-column justify-content-between"
    styleClass="mr-2 border-3 border-pink-100"
  >
    <div class="hero-card__image">
      <img
        src="{{ enemy.image.url }}"
        width="214"
        height="285"
        alt="{{ enemy.name }} photo"
      />
    </div>
    <div class="hero-card__stats flex-grow-1">
      <h4 class="ml-4">Powerstats:</h4>
      <ol>
        <li *ngFor="let powerupName of powerupNames">
          <span class="stat-name">{{ powerupName }} </span>
          <strong class="stat-value">{{
            enemy.powerstats[powerupName]
          }}</strong>
        </li>
      </ol>
    </div>
    <button
      label="hero details"
      class="p-button-link ml-2"
      pButton
      [routerLink]="['/hero-info/' + enemy.id]"
      icon="pi pi-link"
      iconPos="right"
    ></button>
  </p-panel>
  <p-dialog
    header="Battle Results"
    [(visible)]="displayFightModal"
    [modal]="true"
    [style]="{ width: '550px' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="hideFightModal()"
  >
    <div class="fight-preloader" *ngIf="displayFightPreloader">
      <div class="fight-animation">
        <img src="../../assets/animations/fight.gif" alt="Fight animation" />
      </div>
      <!-- <p-progressBar
        [value]="progressBarValue"
      ></p-progressBar> -->
      <p-progressBar
        mode="indeterminate"
      ></p-progressBar>
    </div>
    <div
      class="fight-results flex flex-column justify-content-center w-full text-center"
      *ngIf="displayFightResults"
    >
      <strong>Fight</strong>
      <h2 class="text-blue-500">{{ lastFightResult.hero.name }}</h2>
      <strong class="-my-3">VS.</strong>
      <h2 class="text-pink-500">{{ lastFightResult.enemy.name }}</h2>
      <strong>ended in</strong>
      <h1
        [ngClass]="{
          'text-green-500': lastFightResult.victory,
          'text-yellow-500': !lastFightResult.victory
        }"
      >
        {{ lastFightResult.victory ? "Victory" : "Defeat" }}
      </h1>
      <small>({{ lastFightResult.time | date: "dd.MM.y HH:mm:ss" }})</small>
    </div>

    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="displayFightModal = false"
        label="Ok"
        styleClass="p-button-text"
        *ngIf="displayFightResults"
      ></p-button>
    </ng-template>
  </p-dialog>
</main>
