<app-header></app-header>

<main class="flex flex-column justify-content-center mx-auto py-4">
  <p-card styleClass="search-widget" header="Find hero">
    <form class="search-form" [formGroup]="searchForm" (ngSubmit)="doSearch()">
      <div class="search-field">
        <span class="p-input-icon-right w-full">
          <i class="pi pi-search"></i>
          <input
            class="w-full"
            type="text"
            placeholder="Search"
            pInputText
            formControlName="searchInput"
            #searchInput
          />
        </span>
      </div>
    </form>

    <div
      class="search-recent flex align-items-center mt-1"
      *ngIf="savedSearches.length"
    >
      <span>recent: </span>
      <p-button
        class="search-preset m-2"
        *ngFor="let searchString of savedSearches"
        label="{{searchString}}"
        styleClass="p-button-sm p-button-outlined p-button-rounded"
        (click)="doSearch(searchString)"
      ></p-button>
    </div>
    <app-alpha-select
      (onSearchByLetter)="doSearchByLetter($event)"
    ></app-alpha-select>
  </p-card>
  <p-card
    header="Heroes: {{searchResults.length}}"
    class="heroes-widget mt-3"
    *ngIf="searchResults.length"
  >
    <p-panel
      header="{{hero.name}}"
      class="hero-card"
      styleClass="mb-3"
      *ngFor="let hero of searchResults"
    >
      <div class="flex justify-content-between"
      >
        <div class="hero-card__image">
          <img src="{{hero.image.url}}" width="150" height="200" alt="{{hero.name}} photo" />
        </div>
        <div class="hero-card__stats flex-grow-1">
          <h4 class="ml-4">Powerstats:</h4>
          <ol>
            <li
              *ngFor="let powerupName of powerupNames"
            >
              <span class="stat-name">{{ powerupName }} </span>
              <strong class="stat-value">{{ hero.powerstats[powerupName] }}</strong>
            </li>
          </ol>
        </div>

      <div class="buttons flex flex-column justify-content-between">
        <button
          label="hero details"
          class="p-button-link"
          pButton
          [routerLink]="['/hero-info/' + hero.id]"
          icon="pi pi-link" iconPos="right"
        ></button>
        <button
          [label]="isHeroSelected(hero.id) ? 'selected' : 'select'"
          class="p-button-success align-self-end"
          pButton
          (click)="selectHero(hero.id)"
          [disabled]="isHeroSelected(hero.id)"
        ></button>
      </div>
      </div>
    </p-panel>
  </p-card>
</main>
