<p-card>
  <ng-template pTemplate="title">
    <h2 class="text-center text-primary">Registration</h2>
  </ng-template>

  <p-messages *ngIf="messages.length" [(value)]="messages"></p-messages>

  <form id="registration-form" [formGroup]="form">
    <div class="field">
      <label for="username" class="block">Username:</label>
      <input
        id="username"
        class="w-full"
        type="text"
        formControlName="username"
        pInputText
      />
      <div
        class="validation"
        *ngIf="getControl('username').touched && getControl('username').invalid"
      >
        <small class="p-error" *ngIf="getControlErrors('username').required">
          Username is required.
        </small>
        <small class="p-error" *ngIf="getControlErrors('username').minlength">
          Username length should be
          {{ getControlErrors('username').minlength.requiredLength }}
          characters at least. Now only
          {{ getControlErrors('username').minlength.actualLength }}.
        </small>
        <small class="p-error" *ngIf="getControlErrors('username').pattern">
          Username should contain two words: 'kebab-case', 'camelCase', 'Space
          Case' are allowed. Numbers and special symbols are forbidden.
        </small>
      </div>
    </div>
    <div class="field">
      <label for="email" class="block">Email:</label>
      <input
        id="email"
        class="w-full"
        type="text"
        formControlName="email"
        pInputText
      />
      <div
        class="validation"
        *ngIf="getControl('email').touched && getControl('email').invalid"
      >
        <small class="p-error" *ngIf="getControlErrors('email').required">
          Email is required.
        </small>
        <small class="p-error" *ngIf="getControlErrors('email').pattern">
          Invalid Email. <br />
          Maximum 3 dots before '@'. <br />
          Maximum 5 letters between '@' and domain. <br />
          Allowed domains: '.co', '.com', '.net', '.org', '.us'.
        </small>
        <small
          class="p-error"
          *ngIf="getControlErrors('email').uniqueEmailValidator"
        >
          This email has been already used.
        </small>
      </div>
    </div>
    <div class="field">
      <label for="password" class="block">Password:</label>
      <input
        id="password"
        class="w-full"
        [ngClass]="{ invalid: !!form.errors?.crossFieldPasswordValidator }"
        type="password"
        formControlName="password"
        pInputText
      />
      <div
        class="validation"
        *ngIf="getControl('password').touched && getControl('password').invalid"
      >
        <small class="p-error" *ngIf="getControlErrors('password').required">
          Password is required.
        </small>
        <small class="p-error" *ngIf="getControlErrors('password').minlength">
          Password length should be
          {{ getControlErrors('password').minlength.requiredLength }}
          characters at least. Now only
          {{ getControlErrors('password').minlength.actualLength }}.
        </small>
        <small class="p-error" *ngIf="getControlErrors('password').pattern">
          Weak password. It should contain at least: one uppercase letter, one
          number, one special symbol (allowed: ! $ % & - . ).
        </small>
        <small class="p-error" *ngIf="form.errors?.crossFieldPasswordValidator">
          Password mustn't contain fragments of the username or the email. But
          now password includes "{{
            form.errors.crossFieldPasswordValidator.forbiddenFragment
          }}" fragment.
        </small>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-between">
      <button
        label="Login"
        class="p-button-link"
        pButton
        [routerLink]="['/login']"
      ></button>
      <button
        form="registration-form"
        type="submit"
        label="Sign up"
        icon="pi pi-chevron-right"
        styleClass="p-button-primary"
        iconPos="right"
        [disabled]="form.invalid || submitted"
        pButton
        (click)="signUp()"
      ></button>
    </div>
  </ng-template>
</p-card>
