/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

p-button:not(:last-child) {
  margin-right: 0.5em;
}

small {
  &.p-error {
    display: block;
    margin: 5px auto;
  }
}
