body {
  margin: 0;
  padding: 0;
}

p-button:not(:last-child) {
  margin-right: 0.5em;
}

small {
  &.p-error {
    display: block;
    margin: 5px auto;
  }
}

main {
  width: 800px;
}

.p-tabview .p-tabview-panels {
  padding:  1rem 0 0 0;
}

.powerup-card:not(:last-child),
.hero-card:not(:last-child) {
  margin-bottom: 1rem;
}

.powerup-card__image,
.hero-card__image {
  img {
    width: 100%;
  }
}

.hero-page__image {
  img {
    width: 100%;
  }
}

.search-widget {
  z-index: 10;
  position: relative;
  app-alpha-select {
    width: 40px;
    position: absolute;
    top: 80px;
    right: calc(100% - 1rem);
  }
}

.heroes-widget {
  .p-card {
    position: relative;
  }
  .options {
    position: absolute;
    left: calc(100% + 0.75rem);
    bottom: 4.75rem;
  }
}

.list-no-style {
  list-style-type: none;
  padding-left: 25px;
}
