/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

p-button:not(:last-child) {
  margin-right: 0.5em;
}

small {
  &.p-error {
    display: block;
    margin: 5px auto;
  }
}

main {
  width: 800px;
}

.hero-card:not(:last-child) {
  margin-bottom: 1rem;
}

.hero-card__image {
  max-width: 150px;
  img {
    width: 100%;
  }
}
